* {
    padding: auto;
    box-sizing: border-box;
}

body {
    background-color: #01080E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: #D7F9FF;
    margin: auto;
    width: 600px;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 1);
    border-radius: 10px;
    overflow: hidden;
}

.header {
    padding: 40px;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.header-title{
    color: #9CD33B;
    font-weight: 800;
    font-size: 29px;
    margin-bottom: 20px;
}

.second-title{
    color: #6E9BA4;
    font-size: 19px;
    font-weight: 500;
    padding: 10px;
}

.col-1 {
    background-color: #9CD33B;
    width: 50%;
    padding: 20px;
    color: #FFFF;
}

.col-2 {
    background-color: #6E9BA4;
    width: 50%;
    padding: 20px;
    color: #FFFF;
}

.assinatura{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.preco{
    font-size: 26px;
    font-weight: 700;
}

.month{
    font-size: 16px;
    font-style: italic;
    margin-left: 10px;
}

.btn-assinar{
    width: 100%;
    padding: 15px 32px;
    color: #6E9BA4;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
}

.image-group {
    text-align: center;
}